
.gitIcon{
  width: 5vw;
  border-radius: 50%;
}
.linkdinIcon{
  width: 5vw;
  border-radius: 50%;
}
#mainBox{
  background-image: url(/pages/appImages/wallpapers/wall5.jpg);
  background-size: cover;


}
.nav-link{
  font-size: small;
  border-right: solid;
  border-color: rgba(176, 197, 244, 0.463);
 
}
.imgtrip{
  height: 7vh;
  
}
