#gitIcon{
  width: 5vw;
  border-radius: 50%;
}
#linkdinIcon{
  width: 5vw;
  border-radius: 50%;
}
#mainBox{
  background-image: url(/pages/appImages/wall3.jpg);
  background-size: cover;
  max-width: 800px;
}